<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>First HTML page</title>
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div class="container">
            <h1>Our First HTML page</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima incidunt optio assumenda iure, itaque dicta deleniti cumque perferendis. Ipsa ad inventore voluptate voluptatibus, molestias dolore cumque tenetur modi temporibus aliquid?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima incidunt optio assumenda iure, itaque dicta deleniti cumque perferendis. Ipsa ad inventore voluptate voluptatibus, molestias dolore cumque tenetur modi temporibus aliquid?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima incidunt optio assumenda iure, itaque dicta deleniti cumque perferendis. Ipsa ad inventore voluptate voluptatibus, molestias dolore cumque tenetur modi temporibus aliquid?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima incidunt optio assumenda iure, itaque dicta deleniti cumque perferendis. Ipsa ad inventore voluptate voluptatibus, molestias dolore cumque tenetur modi temporibus aliquid?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima incidunt optio assumenda iure, itaque dicta deleniti cumque perferendis. Ipsa ad inventore voluptate voluptatibus, molestias dolore cumque tenetur modi temporibus aliquid?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima incidunt optio assumenda iure, itaque dicta deleniti cumque perferendis. Ipsa ad inventore voluptate voluptatibus, molestias dolore cumque tenetur modi temporibus aliquid?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima incidunt optio assumenda iure, itaque dicta deleniti cumque perferendis. Ipsa ad inventore voluptate voluptatibus, molestias dolore cumque tenetur modi temporibus aliquid?</p>
            <script src="/static/main.js"></script>
        </div>
    </body>
</html>